@charset "utf-8";
/* CSS Document */

 body {
   margin:0;
   background-position:center top;
   font-family: Arial,Helvetica,sans-serif;
   font-size:10pt;
   line-height:1.3em; 	}
 
h2	{
	font-family:Trebuchet MS, Georgia, "Times New Roman", Times, serif;
	}
	
 
 /* CONTAINERS */
 
 #container	{
 	width: 1000px;
 	border: 0px solid red;
	background-color:#fff; 
	margin: 0 auto;
	margin-top:10px;
	border-bottom: 30px solid #B4D331;
	}   
 #container_top	{
	margin:0px;
		}		
#container_top	a:link	{
	font-weight:normal;
	color: #FFFFFF;
	} 
#container_main	{
  	border: 0px solid black;
	margin: 0;
	clear: both;
	display:inline-block;
	width: 100%;
	} 	
#container_main_left	{
    
    border-right: 1px solid #CCCCCC;
    padding: 0 10px 0 0;
    display:inline-block;
    }	
#container_menu_top	{
	width:100%;
	background:url(../menu_top_bg.png) repeat-x scroll;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	} 
 #container_menu_bottom	{
	width:100%;
	height:20px;
	background:url(../images/greenbar.png) repeat-x scroll;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:1px;
	margin-bottom:10px;
	} 
 #container_content_main	{
  	border: 0px solid red;
	width: 664px;
	float: left;
	margin:2px 10px 2px 2px;
	} 
	
#container_content_main	a:link, a:hover	{
	font-weight:bold;
	text-decoration:none;
	color:#333333;
	
	}
	
 #container_content_right	{
  	border: 0px solid red;	
	width: 320px;
	float: right;
	margin:2px 0 0 0 ;
	}
	
 #container_banner	{
        display : none; /* tijdelijk geen banner (Roel) */
  	border: 1px solid #ccc;	
	float: right;
	margin:0 0px 0px 5px;
	}
	
 #container_video	{
  	border: 0px solid #ccc;	
	float: right;
	margin:0 0px 10px 5px;
	width: 320px;
	padding:0px;
	}
  
 #container_footer	{
 	border: 0px solid red;
	clear: both;
	margin:2px;

	}
#container_image {
       border: 0px solid;
       float: left;
       padding: 5px;
       }
	
	 /* ONDERDELEN */
	 
#logo	{
	height: 130px;
	float:left;
	width: 120px;
	color: #CCCCCC;
	background:url(../images/preview.png);
	background-repeat:no-repeat;
}
#beta {
	background:url(../images/betabadge.png);
	background-repeat:no-repeat;
	height: 80px;
	float:left;
	width: 80px;
	color: #CCCCCC;
}

#inlog	{
	border: 0px solid red;
	width: 150px;
	height: 30px;
	float: right;
	display:inline;
	font-size: 0.8em;
	font-weight: 600;
	color: #999;
	text-align:right;
	}
	
#sitename_container {
	float:left;
	margin:5px 0 0 2px;
	width:350px;
	height:80px;
}

#betabadge {
	float:left;
	margin:25px 0 0 25px;
	width:350px;
	height:80px;
}
	
#search	{
	float: right;
	height: 40px;
	width: 200px;
	border: 1px solid yellow;
	clear: right;
	margin-top:25px;
}

#glider	{
	width: 100%;
	display:block;
	padding:0;
	margin:0;
	border-bottom: 1px solid #cccccc;
	margin-bottom:5px;
	}

#summary_big	{
	width: 100%;
	display:block;
	padding:0;
	margin:0;
	border-bottom: 1px solid #cccccc;
	margin-bottom:5px;
	}
	

#summary_big img, #summary_normal img	{
	float: left;
	border: 1px solid #ccc;
	margin: 4px 5px 5px 0;
	}
	
#summary_normal    {
    width:390px;
    padding-bottom:5px;
    margin:0;
   margin-bottom:5px;
    }
	
#main_right	{
	width:253px;
	padding-left: 7px;
	border-left: 1px solid #ccc;
/*	border-right: 1px solid #ccc; (Roel)*/
	float: right;

	}
	
#main_right_block	{
	border-bottom:0px solid #ccc;
	}

#content_right_tabs	{
	border: 1px solid #CCCCCC;
	}

.meta {
	border-bottom: 1px solid #cccccc;
	width:250px;
}
	
/* MENUs */

#menu	{
	width: 640px;
	float:left;
	height: 10px;	
	margin: 0 auto 0 5px;

	}
	
#menu_right	{

	height: 20px;
	margin: 0 auto 0 5px;
	padding:0px 0 0 0;
	font-size: 0.7em;
	float: right;
	font-weight:normal;

	}
	
#menu_bottom	{
	float: left;
	border: 0px solid red;
	margin: 2px auto 0 5px;
	font-size: 0.8em;

	}
	
#menu a	{
	text-decoration:none;
	}
	
#menu ul, #menu_right ul, #menu_bottom ul  {
	display:inline;
	margin:0;
	padding: 0 0 0 0px;
	text-transform:uppercase;
	color:#A9A9A9;
	}

#menu_right li	{
	border-right: 1px solid #ccc;
	display: inline;
	padding-left:5px;
	padding-right: 12px;
	color:#CCCCCC;
	}

	
#menu li, #menu_bottom li{
	background:transparent url(../images/list_square.png) no-repeat scroll 100% 50%;
	display: inline;
	padding-left:5px;
	padding-right: 12px;
	}
	
#menu #last, #menu_right #last, #menu_bottom #last, #main_right_block #last {
	background:transparent none repeat scroll 0 0;
	border: 0;
	}

	
#menu li a:link, a:visited, #menu_bottom a:link, a:visited{
	color: #000000;
	text-decoration:none;
		}
		
#menu_right	li a:link, a:visited	{
	color: #000000;
	text-decoration:none;
	}
		
#menu li a:hover{
	color: #ccc;
		}
		
#container_footer ul	{
	display:inline;
	margin:0;
	padding: 0 0 0 10px;
	font-weight:normal;
	font-size: 1.7em;
	color:#ccc;
	text-transform:uppercase;
	list-style-type:none;
	font-family:Arial, Helvetica, sans-serif;
}

#container_footer li	{
	display:inline;
}

#main_right_block ul {
	list-style: none;
	margin-left: -15px;
	padding-left: 5px;
	text-indent: 0;
	font-weight:normal;
	}
	
/*#main_right_block li:before {
	content: "\00BB \0020"; !important
	}
	*/


#main_right_block a:hover	{
	color:#999;
	font-weight: bold;
	}
	
#main_right_block a:link, a:visited, a:active	{
	color:#999;
	font-weight: bold;
	text-decoration:none;
	padding-bottom: 2px;
	display:inline-block;
	}
	
#main_right_block li {
border-bottom: 1px dotted #CCCCCC;
margin-bottom:2px;
padding-bottom:2px;

}


/* TYPOGRAFIE */
	
#summary_big h2	{
	margin: 0px 0 10px 0;
	font-size: 1.5em;
	
		}

#inlog	a:link, a:hover, a:visited, a:active {
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
	font-weight: 600;
		}

#summary_normal h2	{
	margin: 5px 0 10px 0;
	font-size: 1.3em;
        text-decoration:none;
	}
#summary_normal a	{
        text-decoration:none;
        color:#000000;
	}

#summary_big h3, #summary_normal h3	{
	margin: 5px 0 5px 0;
	font-size: 0.7em;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	text-transform:uppercase;
	letter-spacing: 2px;
	}

#summary_big p, #summary_normal p , #container_video p	{
	font-size: 10pt;
	line-height: 1.3em;
	margin: 5px 0 5px 0;
	font-family:Arial, Helvetica, sans-serif;
	}	
	
#summary_big h4, #summary_normal h4	{
	margin: 5px 0 5px 0;
	font-size: 0.7em;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-transform:uppercase;
	}
	
#summary_big a:hover, a:visited	{
 	color:#000000;
	}
	
#summary_big a:link	{
	color:#666666;
	border:0;
	}

#summary_normal h2 a.typeface-js, h1.typeface-js , h2.typeface-js {
    font-family: VAGRounded BT; 
}

#main_right_block h2, #container_video h2{
	/*font-family:Trebuchet MS;
	 text-transform:uppercase;  (Roel)*/
	color:#000000;
	background-color:#B4D331;
	padding: 3px 7px 0 7px;
	/* font-size: 1em;
	 font-weight:500;  (Roel) */
	display:table;
	margin: 1px;
	width:95%;
	}

#container_video h2{
       margin-top: 10px;
       padding-right: 8px;
}
	
.verticaltext {
	writing-mode: tb-rl;
	filter: flipv fliph;
}
	
#main_right_block h3	{
	color:#000;
	font-size: 0.9em;
	display:inline;
	clear: both;
	padding-bottom:5px;
	font-family:Trebuchet MS, Georgia, "Times New Roman", Times, serif;
	}
	
#main_right_block ul	{
	color:#000;
	margin-top:0px;
	font-size: 9pt;
	padding-left:15px;
	clear: both;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.clrb {
   clear: both;
}

/*img */
 #container_banner	img	{	
 	margin: 9px;
	}

/*GLIDER */

#control-top h3	{
		font-family:Arial, Helvetica, sans-serif;
		}
		