@charset "utf-8";
/* CSS Document */





#sidebar {
	width: 320px;	
	float:none;	
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	}
	
#sidebar a:link	{
	color:#333;
	}



.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* -------------------[ Sidebar ]------------------- */

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#sidebar ul ul {
	margin: 0;
	padding: 0 3px;
	}

#sidebar ul ul ul {
	margin: 0;
	padding: 0;
	}

#sidebar ul ul ul ul {
	margin: 0;
	padding: 0;
	}

#sidebar li {
	list-style-type: none;
	margin: 0 0 10px;
	padding:2px;
	background:#eee;
	overflow:hidden;
	border:1px solid #ccc;
	}

#sidebar li li {
	list-style-type: none;
	margin: 0;
	border:0;
	padding: 6px 0 6px 15px;
	background:transparent url(../images/side-arrow-off.png) 0px 9px no-repeat;
	border-bottom:1px dotted #ccc;
	}

#sidebar li li:hover {
	background:transparent url(../images/side-arrow-on.gif) 0px 9px no-repeat;
	}

#sidebar li li li {
	background-image:none;
	border:0;
	padding: 1px 0;
	}

#sidebar li li li:hover {
	background-image:none;
	}

#sidebar li li li li {
	padding-left: 10px;
	}

#sidebar .textwidget {
	margin: 0;
	padding:7px;
	}

#sidebar li#tag-cloud ul { }

#sidebar li#tag-cloud ul.wp-tag-cloud {	padding: 7px; }

#sidebar li#tag-cloud li {
	border:0;
	float:none;
	display:inline;
	padding: 0;
	margin: 0 5px 0 0;
	background:transparent;
	background-image: none;
	line-height:2em;
	}

#sidebar li#tag-cloud li a {
	padding:0;
	background:transparent;
	background-image: none;
	}

#sidebar li select {
	width:160px;
	margin: 0;
	}

/* -------------------[ Side Tabs ]------------------- */

#sidebar li ul.tabs {  
	list-style-type:none;
	margin: 0;
	padding: 0;
	display:block;
	clear:both;
	background: #B4D331;
	font-size: 0.7em;

	}

#sidebar li ul.tabs li {
	font-weight:bold;
	font-size:8pt;
	float:left;   
	padding:0;
	margin: 0;
	border: 0;
	background: transparent;
	background-image:none;
	} 

#sidebar li ul.tabs li:hover {  
	background: transparent;
	background-image:none; 
	} 

#sidebar li ul.tabs li a, #sidebar li ul.tabs li a:link, #sidebar li ul.tabs li a:visited {
	float:left; 
	padding:5px;   
	margin:0;
	color:#000000;
		text-decoration:none;
	} 

#sidebar li ul.tabs li a:hover, #sidebar li ul.tabs li a:active {  
	color:#000000;
	background:#B4D331;      
	}  

#sidebar li ul.tabs li a.on {  
	color:#000000;
	background:#eeeeee;   
	}

#sidebar li#side-tabs .sidebox {
	clear:both;
	margin: 0;
	padding: 7px;
	}

#sidebar li#side-tabs form {
	margin: 0;
	padding: 0;
	}

#sidebar li#side-tabs form p {
	margin: 0 0 10px;
	padding: 0;
	}

#sidebar li#side-tabs p.feeds {
	margin: 0 0 15px;
	font-weight:bold;
	padding-left: 15px;
	background: url(../images/rss-12.gif) 0 50% no-repeat;
	}

#sidebar li#side-tabs p.email {
	margin: 0 0 5px;
	font-weight:bold;
	}

#sidebar li#side-tabs .rss input {
	margin: 5px 0 0;
	padding: 0;
	}

#sidebar li#side-tabs .rss {
	background: url(../images/rss96.gif) 100% 8px no-repeat;
	}

