<table style="width: 100%;">
  <tr>
    <td style="vertical-align: top;">
      <% form_for @asset, :url => admin_asset_path, :html => { :id => 'asset_upload_form', :target => 'asset_upload_iframe', :multipart => true} do |f| %>
        <%= f.file_field :data, :class => 'file_field', :label => :'adva.assets.labels.upload.files' %>
        <%= f.text_field :title, :class => 'title_field', :label => :'adva.assets.labels.upload.title' %>
        <%= f.text_field :tag_list, :class => 'taglist_field', :label => :'adva.assets.labels.upload.tags' %>
      <% end %>
      <iframe src="" onload="asset_upload_complete(this)" name="asset_upload_iframe" id="asset_upload_iframe" style="height: 1px; visibility: hidden;"></iframe>
    </td>
    <td style="vertical-align: top;">
      <%= link_to asset_image_for(@asset, :thumb), @asset.base_url %>
    </td>
  </tr>
</table>
      