<%#<ul>%>
        <% @articles.each do |article| %>
                <%#<li>%>
<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
                        <h2><%= link_to_content(article) %></h2>
                        <% if article.excerpt.present? %>
                                <p><%= article.excerpt %></p>
                        <% end %>
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>
                <%#</li>%>
        <% end %>
<%#</ul>%>