<%= render :partial => "shared/header" %>
<script type="text/javascript"
src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=iRcg61bV34FzVO9PsxS6qyOA.BLxQFFHJs0se8zU08gCnIszCmDHRRCzhZ.OU_">
</script>
</b>
<style type="text/css">
#map{
  /*height: 75%;
  width: 100%;*/
 width: 395px;
 height: 395px;
}
</style>
<body>

<div id="bgwrapper" class="page_contact">
	<%= render :partial => "shared/top" %>

			<div id="featured-content"> 
				<div class="featured-item current-item jqtransform">
    				<div class="featured-text">
    					<!-- <p>Velden met een * zijn verplicht</p> -->
						<div class="foatleft">
						<div class="contactform">
						<cell name="contact_mailer/mailer_form" recipients="john@yaronproducties.com, info@yaronproducties.nl">
							<fields>
								<field title="Neem nu Contact op" level="2" type="header" />
								<field name="Naam" label="Uw naam" type="text_field" value="" />
								<field name="email" label="E-mail" type="text_field" value="" />
								<field name="Telefoon" label="Telefoon" type="text_field" value="" />
								<field name="subject" label="Onderwerp" type="text_field" value="" />
								<field name="Vraag" label="Vraag" type="text_area" />
							</fields>
						</cell>
						</div>
						</div>

					</div><!-- end featured text -->
					<div class="contact-placeholder"><%#<br/><br/><br/>%>

	<img src="/sites/site-1/assets/contact.jpg" alt="contact" />

					</div><!-- end featured-image -->
				</div><!-- end first featured item-->    
 			<div id="reflect">
 			</div>
		</div><!-- Featured Content End-->
	</div><!--end header-->
	<div id="main">
                <div class="contentbox_medium">
               <div class="containerPlus  {skin:'yplight', icon:''}">
	<div class="no">
		<div class="ne">
			<div class="n">	
			
			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
					<h2>Contact </h2>
                       <ul>
                       	   <li><a href="#"><strong>Yaron Producties</strong></a></li>
                           <li><a href="mailto:info@yaronproducties.nl?subject=Vraagje?"><strong>Email: info@yaronproducties.nl</strong> <span>(?)</span></a></li>
                           <li><a href="#"><strong>Telefoon: 010 415 2381 </strong> <span>(?)</span></a></li>
                           <li><a href="#"><strong>Lorentzlaan 53a - Schiedam - Nederland </strong><span>(Europe)</span></a></li>
                           <li><a href="http://maps.google.nl/maps?f=q&source=s_q&hl=nl&geocode=&q=lorentzlaan+53a+3112+kh+schiedam&sll=52.469397,5.509644&sspn=3.10568,9.195557&ie=UTF8&ll=51.918812,4.413398&spn=0.001535,0.00449&t=h&z=18&iwloc=r0"><strong>Route planning met Google Maps</strong></a></li>

                       </ul>

				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>
                 </div>
             
                
                <div class="contentbox_medium">
               <div class="containerPlus  {skin:'yplight', icon:''}">
	<div class="no">
		<div class="ne">
			<div class="n">	
			
			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
               <h2>Kaart</h2>
                           <div id="map"></div> 
		<script type="text/javascript">
	// Create a map object
	var map = new YMap(document.getElementById('map'));

	// Add map type control
	map.addTypeControl();

	// Set map type to either of: YAHOO_MAP_SAT, YAHOO_MAP_HYB, YAHOO_MAP_REG
	map.setMapType(YAHOO_MAP_REG);

	// Display the map centered on a geocoded location
	map.drawZoomAndCenter("Lorentzlaan 53 Schiedam", 2);
	map.addZoomLong();
	
</script>
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>
                </div>
		</div><!-- Einde #content -->
      </div><!-- Einde #main -->
	</div>
	<%= render :partial => "shared/footer" %>	  
   </div><!-- Einde #top -->
</div><!-- Einde #bgwrapper -->
</body>
</html>

