<h1>Gelukt!</h1>

<p>Je hebt je succesvol geregistreerd voor een gebruikersaccount.</p> 

<p>Er is nog één ding. We moeten er zeker van zijn dat je email adres correct is. 
We hebben je een email gestuurd naar het adres wat je opgegeven hebt. Daarin staat een link
en deze link zal het registratieproces voltooien.</p>

<p>Klik er op en je bent geregistreerd!</p>
