/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
	margin:0;
	padding:0;
       border:none;
}

/*----------------------------------------

1.) Styles for all Sites but especially for Mainpage
2.) Special Styles for Blog
3.) Special Styles for Portfolio
4.) Special Styles for Pages (for example: about)
5.) Special Styles for Gallery
6.) Special Styles for Contact


----------------------------------------*/



/*----------------------------------------
1.) Styles for all Sites but especially for Mainpage
----------------------------------------*/
html, body{
	height:100%;
}

html{
	/*background:#171717;*/
	}

body{
	font-size:13px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	line-height:22px;
	color:#261B12;
	/*background:#857160;*/
	/*background:#222222;*/
	/*background:#171717 url(../images/bg_top.jpg) repeat-x;*/
	/*background: #222222 url(../images/bg_top.jpg) repeat-x;*/
	/*background:transparent url(../images/bg_body.jpg) repeat;*/
	background:transparent url(../images/gradient.png) repeat-x;
	}

#bgwrapper{
	/*background:transparent url(../images/bg_big.jpg) repeat-y;*/
	background:transparent url(../images/bg_wood.png) repeat;
	background-position:center 0;
  	display: table;
	position:relative;
    overflow: hidden;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	}
	
#top{
	width:980px;
	margin:0 auto;
	position:relative;
	margin-top:10px;
	}
	
#head{
	position:relative;
	height:485px;
	height:115px;
	}

.page_home #head{
	position:relative;
	height:490px;
	}

.page_ #head {
	position:relative;
	height:500px;
	}

/*.page_home #top{
	min-height:500px;
	}*/
	
#footer{
	/*background:transparent url(../images/border.jpg) repeat-x scroll 0 19px;*/
	clear:both;
	color:#857160;
	/*color:#FFFFFF;*/
	/*font-size:11px;*/
	font-size:13px;
	margin:0 auto 20px;
	padding:21px 0 0;
	text-align:center;
	max-width:900px;
	}
	
#logo{
	height:72px;
	position:absolute;
	top:27px;
	width:432px;
	background: url(../images/logo_wit.png) no-repeat
	}
	
#logo a{
	display:block;
	width:432px;
	height:48px;
	text-indent:-9999px;
	position:relative;
	z-index:3;
	outline:none;
	}
	
#menu{
	position:absolute;
	height:80px;
	top:0;
	right:0;
	width:400px;
	z-index:100;
	}

#featured-content{
	display:block;
	height:484px;
	position:absolute;
	width:100%;
	overflow:hidden;
	/*top:0;*/
	}

.featured-item {
	background:transparent url(../images/featured-item.png) no-repeat scroll 0 0 !important; /*Internet explorer 6 F*/
	background:transparent url(../images/featured-item-ie.png) no-repeat scroll 0 0; 
	display:block;
	height:266px;
	left:6px;
	padding:40px;
	position:absolute;
	top:-500px;
	width:888px;
	z-index:10;
}

.featured-text{
	float:left;
	height:260px;
	overflow:hidden;
	padding-right:20px;
	width:360px;
	position:relative;
	}
	
.featured-image{
	float:left;
	width:502px;
	height:252px;
	margin-top:6px;
	/*border:1px solid #333;*/
	overflow:hidden;
	position:relative;
	}
.contact-placeholder {
	float:left;
	width:502px;
	height:252px;
	margin-top:6px;
	overflow:hidden;
	position:relative;
	}
	
/*.featured-image a img, .featured-image img{
	border:1px solid #111;
	}*/
	
.featured-text .meta{
	position:absolute;
	bottom:0;
	width:360px;
	/*background-color:#222;*/
	}
	
.meta{
	background:transparent url(../images/border.jpg) repeat-x scroll 0 top;
	/*color:#777777;*/
	display:block;
	font-size:10px;
	float:left;
	width:100%;
	}

.meta p{
	padding:0px;
}
	
#top .current-item{
	/*top:93px;*/
	top:103px;
	}	

#reflect{
	position:relative;
	display:block;
	margin:0 auto;
	height:100px;
	width:968px;
	background:transparent url(../images/reflect-help-trans.png) no-repeat;
	/*bottom:-431px;*/
	bottom:-445px;
	left:0;
	}

.next-item{
	display:block;
	/*height:74px;*/
	height:60px;
	/*width:48px;*/
	width:49px;
	background:transparent url(../images/icon-next-trans.png) no-repeat 0px -74px;;
	position:absolute;
	text-decoration:none;
	z-index:22;
	text-indent:-9999px;
	left:190px;
	bottom:20px;
	outline:none;
	visibility:hidden;
	cursor:pointer;
	}
	
.next-item:hover{
	background:transparent url(../images/icon-next-trans.png) no-repeat /*0px /*-74px*/;
	}

#content{
	/*top:150px;*/
}
	
#reflect_img{
	/*position:relative;*/
	display:block;
	margin:0 auto;
	height:100px;
	width:968px;
	background:transparent url(../images/reflect-help-trans.png) no-repeat;
	bottom:-69px;
	left:0;
	}	
	
#main{
/*	margin-top:5px;*/
	/*position:relative;*/
/*	float:left;*/
	/*width:100%;*/
	}
	
.contentbox_small{
	float:right;
	padding-right: 10px;
	width:270px;
	}
.contentbox_small p {font-size:1.1em;}

.contentpagebox_small{
	float:left;
	padding-left:10px;
	width:270px;
	}
.contentpagebox_small p {font-size:1.1em;}

.contentbox_large {
	float:left;
	padding-left:10px;
	width:660px;
}

.contentbox_midsmall {
	float:left;
	padding-left:25px;
	width:450px;
	}

.contentbox_tiny{
	float:left;
	padding-left:40px;
	width:150px;
	}

#center-box {
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	position:relative;
	width:500px;
}

/*Main Menu*/
.lavaLamp {
    position: absolute;
    height: 29px; 
    padding: 15px; 
	margin: 24px 0 0 0;
}

.lavaLamp li {
	float: left;
	list-style: none;
}

.lavaLamp li.back {
	background: url(../images/lava.png) no-repeat right -30px !important;
	background: url(../images/lava-ie.png) no-repeat right -30px;
	width: 9px; 
	height: 30px;
	z-index: 8;
	position: absolute;
}

.lavaLamp li.back .left {
	background: url(../images/lava.png) no-repeat top left !important;
	background: url(../images/lava-ie.png) no-repeat top left;
	height: 30px;
	margin-right: 9px;
}

.lavaLamp li a {
	position: relative; 
	overflow: hidden;
	text-decoration: none;
	color: #fff; 
	outline: none;
	text-align: center;
	height: 30px; 
	top: 4px;
	z-index: 10; 
	letter-spacing: 0;
	float: left; 
	display: block;
	padding:0 10px;
}

.tooltip_image2{
	position:absolute;
	z-index:200;
	border:1px solid #4f4f4f;
	background-color:#D9C9BA;
	padding:5px;
	color:#261B12;
	left:-9999px;
	top:0px;
}

.gravatar {
	float:left;
	margin-right:5px;
}
/*FONTs Images basic selectors*/

h1,h2,h3,h4,h5,h6{
	line-height:1.8em;
	font-weight:normal;
	background:transparent url(../images/border.jpg) repeat-x 0 bottom;
	margin:0 0 4px;
	color:#261B12;
	clear:both;
	}
	
h1{font-size:22px;}
h2{font-size:20px;}
h3{font-size:18px;}
h4{font-size:17px;}
h5{font-size:16px;}
h6{font-size:14px;}

p{padding:0 0 22px 0}

a{color:#735B4D; text-decoration:none;}
a:hover{color:#735B4D; text-decoration:underline;}

a img {
	border:none;
}

blockquote{
padding:5px 30px 0 15px;
background-repeat:no-repeat;
background-position:top left ;
margin:10px 0 10px 15px;
border-left:3px solid #fff;
color:#fff;
}

blockquote em{
color:#ff0000;
padding:0px 40px  0px 0px;
background-repeat:no-repeat;
background-position:top right;
display:block;
text-align:right;
font-style:italic;
}

.button {
  	height:35px;
	width:127px; 
	border: 0px;
	text-decoration:none;
	text-align:center;
	text-indent:-7px;
	padding-bottom:7px;
	/*font-weight:bold;*/
	background: url(../images/button-up.png) no-repeat center;
}

.button:hover {
	background: url(../images/button-over.png) no-repeat center;
}
a.searchglass img {
	padding-top:5px;
}

#top .noborder, #top .noborder a, #top noborder ima a{
	border:none;
	padding:0;
	}

#main img{
	border:1px solid #333;
	padding:4px;
	background-color:#111;
	}

.alignright{
	float:right;
	margin:4px 0 10px 10px;
	}
	
.alignleft{
	float:left;
	margin:4px 10px 10px 0px;
	}
	
.floatright{float:right;}
.floatleft{float:left;}
.clearboth{clear:both;}
	
#main ul{
	list-style-type:none;
	list-style-position:outside;
	}
	
#main .contentbox_big ul{
	list-style-type:disc;
	list-style-position:outside;
	padding:0 0 20px 20px;
	}
	
	
#main ol{
	list-style-position:outside;
	padding:0 0 20px 20px;
	}
	
#main li{
	}
	
ul, li {
	text-decoration:none;
	list-style:none;
}

/*----------------------------------------
2.) Special Styles for Blog
----------------------------------------*/

.page_blog #head{
	position:relative;
	height:485px;
	}

.page_blog #top{
	min-height:500px;
	}

.contentbox_big{
	float:left;
	padding-left:20px;
	width:600px;
	}
.contentbox_big p {font-size:1.2em;}

.subheading{
	padding:20px 0 0;
	}

.page_blog .blog_entry{
	clear:both;
	padding-bottom:15px;
/*	float:left;*/
	width:100%;
       margin: 0;
	}

.blog_entry{
	clear:both;
/*	float:left;*/
       margin: 5px 0 0 25px;
	}
	
.blog_entry .meta{
	background-position:bottom;
}

.comments li a{
	float: none;
	display: inline;

	}

/*----------------------------------------
3.) Special Styles for Portfolio
----------------------------------------*/
.page_portfolio #head{
	position:relative;
	height:485px;
	height:118px;
	}

.page_portfolio #top{
	min-height:500px;
	}
	
.page_portfolio .featured-item{
	position:relative;
	top:0;
	}
	
.page_portfolio #main .featured-item img, .page_portfolio #main .featured-item a img{
	border:1px solid #111111;
	padding:0;
	}

/*----------------------------------------
4.) Special Styles for Pages (for example: about)
----------------------------------------*/

.page_mass_content #head{
	position:relative;
	height:485px;
	height:118px;
	}

.page_mass_content #top{
	min-height:500px;
	}

.xlarge{
	background:url(../images/xlargebox-trans.png) no-repeat top center;
	padding-top:30px;
	margin-top:5px;
	}
	
/*.page_ #head{
	position:relative;
	height:485px;
	height:103px;
	}

.page_ #top{
	min-height:500px;
	}

.page_diensten #head{
	position:relative;
	height:485px;
	height:103px;
	}

.page_diensten #top{
	min-height:500px;
	}*/
/*----------------------------------------
5.) Special Styles for Gallery
----------------------------------------*/

.page_gallery #head{
	position:relative;
	height:485px;
	height:118px;
	}
	
.page_gallery #top{
	min-height:500px;
	}
	
.thumb{
	background:transparent url(../images/bg-thumb.png) no-repeat scroll 0 0 !important;
	background:transparent url(../images/bg-thumb-ie.png) no-repeat scroll 0 0;
	float:left;
	height:130px;
	margin:8px 8px 0 0;
	position:relative;
	width:130px;
	display:inline;
	}
	
#main.thumb img, .thumb a img{
	display:block;
	margin:24px auto 0 auto;
	height:72px;
	width:72px;
	position:relative;
	z-index:2;
	}
	
#main .thumb a img:hover{
	border:1px solid #D01276;
}

/*----------------------------------------
6.) Special Styles for Contact
----------------------------------------*/

.page_contact #head{
	position:relative;
	height:485px;
	}

.contentbox_medium{
	/*width:446px;*/
	width:466px;
	float:left;
	/*padding-left:32px;*/
	padding-left:16px;
	}
	
.contentbox_medium li a{
	display:block;
	width:100%;
	border-bottom:1px solid #333;
	color:#eee;
	text-decoration:none;
	padding:3px 0;
	float:left;
	}

.contentbox_medium li a:hover{
	/*background-color:#111;*/
	color:#fff;
	background-color:#402E24;
	}

.contentbox_medium li a:hover strong{
	font-weight:bold;
	}
	
.contentbox_medium li strong{
	padding:0px 3px;
	float:left;
	font-weight:normal;
	/*width:368px;*/
	}

.contentbox_medium li a span{
	padding:0px 3px;
	float:right;
	font-size:11px;
	color:#999;
	}

.contentbox_tiny li a{
	display:block;
	width:100%;
	border-bottom:1px solid #333;
	color:#eee;
	text-decoration:none;
	padding:3px 0;
	float:left;
	}

.contentbox_tiny li a:hover{
	background-color:#111;
	color:#fff;
	}

.contentbox_tiny li a:hover strong{
	font-weight:bold;
	}
	
.contentbox_tiny li strong{
	padding:0px 3px;
	float:left;
	font-weight:normal;
	width:368px;
	}

.contentbox_tiny li a span{
	padding:0px 3px;
	float:right;
	font-size:11px;
	color:#999;
	}

.invalid-form{
	border:1px solid #B36313;
	}
	
.page_contact .featured-image {
	border:none;
	float:left;
	height:auto;
	padding:32px 0 0;
	width:502px;
	background: transparent url(../images/mail_bg.jpg) 390px 90px no-repeat;
}

#contact-errors{
	margin-left:575px;
	margin-top:170px;
	position:absolute;
	}

.commentsblock{
	width:90%;
       margin: 10px 0 0 35px;
	}

.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   }

.blog-item {
	background:transparent url(../images/blog-item.png) no-repeat scroll 0 0 !important; /*Internet explorer 6 F*/
	background:transparent url(../images/blog-item-ie.png) no-repeat scroll 0 0; 
	display:block;
	height:270px;
	left:6px;
	padding:25px;
	position:relative;
	width:588px;
	z-index:10;
}

.blog-text{
	float:left;
	height:245px;
	overflow:hidden;
	padding-right:25px;
	width:420px;
	position:relative;
	}
	
.blog-image{
	float:right;
	width:75px;
	height:75px;
	margin:15px 20px 0 0;
	border:1px solid #333;
	overflow:hidden;
	position:relative;
	}
	
/*.blog-image a img, .featured-image img{
	border:1px solid #111;
	}*/
	
.blog-text .meta{
	position:absolute;
	bottom:0;
	width:360px;
	background-color:#222;
	}

.contactform p {
padding:0 0 32px;
}

.contactform input {
	/*float:right;*/
}

.contactform textarea {
	float:right;
	width:275px;
	height:50px;
}

.contactform .jqTransformInputWrapper {
	float:right;
}
.contactform button {
	float:right;
}

#twitter #friend_feed ul { list-style: none; list-style-position: inside; padding: 0; float:right; }
#twitter #friend_feed ul li { padding: 5px 3px; }
#twitter #friend_feed ul li #tweet-odd { background: #efefef;}
#twitter #friend_feed ul li #tweet-odd { float:right;}
#twitter #friend_feed ul.unmarked-first li.marked { border-top: 1px solid grey; }
#twitter #friend_feed ul li .author { font-weight: bold;}
#twitter #friend_feed ul li .time-ago { color: grey; padding: 0;}
#twitter #add_tweet { font-size: 11px; margin: 0; padding: 3px;  }
#twitter #add_tweet label { display: block; }
#twitter #add_tweet input.auth { width: 120px; }
#twitter #add_tweet input.message{ width: 170px; height:120px; }
#friend_feed h2 { color:#222222; }
.submit { display: block; }
.loader { display: none; }
.sending .submit { display: none; }
.sending .loader { display: block; }
/*.floatleft {float:left;}*/
/*.floatright {float:right; margin-right:35px;}*/

/* the overlayed element */ 
.overlay { 
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#333; 
     
    width:675px;     
    min-height:200px; 
    border:1px solid #666; 
     
    /* CSS3 styling for latest browsers */ 
    -moz-box-shadow:0 0 90px 5px #000; 
    -webkit-box-shadow: 0 0 90px #000;     
} 
 
/* close button positioned on upper right corner */ 
.overlay .close { 
    background-image:url(../img/overlay/close.png); 
    position:absolute; 
    right:-15px; 
    top:-15px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
}

#twitter, #friend_feed, #add_tweet { 
	/*height: 300px;*/
	line-height:13px; 
	}
#twitter .notice { color: green; }
#twitter .error { color: red; }
#twitter #friend_feed { font-size: 11px; margin: 5px 0; }

#twitter #friend_feed .tweetrow { 
	clear: both; 
	margin-top:10px;
	min-height:50px;
}
#twitter #friend_feed #avatar { /*margin-top: 4px;*/ vertical-align: top; margin-right: 3px; float: left; /*width: 48px;*/ }
#twitter #friend_feed .tweet-odd  { background: #efefef; margin-top: 0px; vertical-align: top; float: right; width: 240px; }
#twitter #friend_feed .tweet-even  { background: #ffffff; margin-top: 0px; vertical-align: top; float: right; width: 240px; }
#twitter #friend_feed .author { font-weight: bold; margin-top: 0px; }
#twitter #friend_feed .time-ago { color: grey; padding: 0; margin: 0; }


#twitter #add_tweet { clear: both; font-size: 11px; margin: 0; padding: 3px;  }
#twitter #add_tweet label { display: block; }
#twitter #add_tweet input.auth { width: 120px; }
#twitter #add_tweet input.message{ width: 170px; height: 100px; }
.submit { display: block; font-size: 11pt; }
.loader { display: none; }
.sending .submit { margin-top: 10px; display: none; }
.sending .loader { display: block; }
#twitter ul li { margin: 0; padding: none; list-style-image: none; }
#twitter ul li a:hover, #twitter ul li a:active { background: none no-repeat; padding-right: 0; }
#twitter #tabs ul li a { background: none no-repeat; padding-right: 0; }


