#lavaLampBasicImage {
position: relative;
width: 900px;
padding: 132px 15px 15px 15px;
padding-right:5px;
margin: 10px 0;
overflow: hidden;
height:40px;
}
#lavaLampBasicImage li {
float: left;
list-style: none;
}
#lavaLampBasicImage li.backLava {
background: url("../images/lava.gif") no-repeat right -30px;
width: 9px; height: 30px;
z-index: 8;
position: absolute;
}
#lavaLampBasicImage li.backLava .leftLava {
background: url("../images/lava.gif") no-repeat top left;
height: 30px;
margin-right: 9px; /* 7px is the width of the rounded shape */
}
#lavaLampBasicImage li a {
font: bold 16px Trebuchet MS;
text-decoration: none;
color: #fff;
outline: none;
text-align: center;
top: 7px;
text-transform: uppercase;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
height: 30px;
position: relative;
overflow: hidden;
margin: auto 8px;    
}
#lavaLampBasicImage li a:hover, #lavaLampBasicImage li a:active, #lavaLampBasicImage li a:visited {
color: #fff;
border: none;
}
