  <%# if @comments.present? %>
    <%# @comments.each do |comment, i| %>
    <%# for comments in Comments.find(:all).each do |comment, i| %>
	<%# Comment.find(:all)%>
	
			<h4><%#= link_to_content(comment.commentable, :namespace => nil) %></h4>
			<cite>
			  <%#= comment.author_link %>
			  <%#= "(#{comment.author_email})" %> 
			  <%#= t(:'adva.comments.said_time_ago', :time => time_ago_in_words(comment.created_at)) %> 
			</cite>
			<blockquote>
			  <%#= strip_tags(comment.body) %>
			</blockquote>
	<%# end %>
  <%# else %>
<%#    <li class="alt"><%= t(:'adva.comments.no_comments') %><%#</li>%>
  <%# end %>