	<div id="top"><!-- centreert de pagina -->
	<!--<h2>Login</h2>-->
   <!-- <br/> -->
<!--<p>-->
  <!--<button id="open" onclick="$('#demoContainer').mb_open(); $('#close').fadeIn();$('#actions').fadeIn(); $(this).hide();" >open container </button>-->
  <button class="button" id="open" onclick="$('#klantenContainer').mb_open() .mb_centerOnWindow(true);">Klanten Login</button>
  <button class="button" id="open" onclick="$('#developerContainer').mb_open() .mb_centerOnWindow(true);">Developer Login</button>



		  <div style="float: right;">
          <% form_tag({ :controller => '/search', :id => @site.id, :section_id => @section.id }, :method => :get, :class => 'jqtransform' ) do |f| %>
            <% if @search %>
              <input class="rowElem" type="text" name="q" value="<%= @search.query.gsub(/\"/,"&quot;") %>" onfocus="this.style.color='black'; if (this.value=='Vinden...') { this.value=''; }" onblur="if (this.value=='') { this.value='Vinden...'; this.style.color='#888'; }" />
            <% else %>
              <input class="rowElem" type="text" name="q" style='color: #888' value="Vinden..." onfocus="this.style.color='black'; if (this.value=='Vinden...') { this.value=''; }" onblur="if (this.value=='') { this.value='Vinden...'; this.style.color='#888'; }" />
            <% end %>
						
            <a class="searchglass" href="#" onclick="this.blur(); this.parentNode.submit(); return false;"><img src="/sites/site-1/themes/technaplaza/images/24-zoom.png" align="top" alt="" border="0" /></a>
          <% end %>
		  </div>

	<div id="head"><!-- Begin header -->
		<h1 id="logo">
			<a href="/"></a>
		</h1>
      <div id ="menu"><!-- Begin menu -->
         <ul class="lavaLamp">
			<li><a href="/nl/home">Home</a></li>		           
            <li><a href="/nl/projecten">Projecten</a></li>
            <li><a href="/nl/blog">Blog</a></li>
            <li><a href="/nl/contact">Contact</a></li>
       
         </ul>
    </div><!--<br/>--><!-- Einde menu -->